.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  background-color: #032530;
}

.form {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-title {
  color: #fff;
  text-align: center;
}

.from-label {
  display: flex;
  justify-content: space-between;
}

#from,
#to,
.refresh,
.swap {
  cursor: pointer;
}

